// login form variable
$color-text-form: rgba(0, 0, 0, 1);
$color-text-form-question: rgba(108, 103, 103, 0.911);
$background-btn-form: rgba(15, 24, 255, 1);
$background-input: rgba(217, 217, 217, 1);

